# Virtual environment
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/
media/

# Environment secrets (si tu en crées un plus tard)
.env.local
*.env

# IDE
.idea/
.vscode/

# OS
.DS_Store