@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "lemonade";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #e3ede5; 
  --color-base-200: oklch(100% 0 91.700);
  --color-base-300: #ffffff;
  --color-base-content: oklch(19.742% 0.004 123.72);
  --color-primary: oklch(30.98% 0.075 108.6);
  --color-primary-content: oklch(86.196% 0.015 108.6);
  --color-secondary: oklch(100% 0.008 82.600);
  --color-secondary-content: oklch(19.742% 0.004 123.72);
  --color-accent: oklch(33.5% 0.338 134.600);
  --color-accent-content: oklch(86.196% 0.015 108.6);
  --color-neutral: #C6D89E;
  --color-neutral-content: oklch(19.742% 0.004 123.72);
  --color-info: oklch(86.19% 0.047 224.14);
  --color-info-content: oklch(17.238% 0.009 224.14);
  --color-success: oklch(86.19% 0.047 157.85);
  --color-success-content: oklch(17.238% 0.009 157.85);
  --color-warning: oklch(86.19% 0.047 102.15);
  --color-warning-content: oklch(17.238% 0.009 102.15);
  --color-error: oklch(86.19% 0.047 25.85);
  --color-error-content: oklch(17.238% 0.009 25.85);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

}



@plugin "daisyui/theme" {
  name: "dim";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #0D1117 ;
  --color-base-200: #151B23;
  --color-base-300: #20252e;
  --color-base-content: #f0f6fc;
  --color-primary: #58A6FF;
  --color-primary-content: #132E53;
  --color-secondary: #141F35;
  --color-secondary-content: #3975F4;
  --color-accent: #3975F4;
  --color-accent-content: oklch(14.845% 0.026 311.379);
  --color-neutral: #000000;
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(82.418% 0.099 33.756);
  --color-error-content: oklch(16.483% 0.019 33.756);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
